@CHARSET "UTF-8";
.login-wrapper{
	margin-top:50px;
}
.login-wrapper .modal{
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 1;
	display: block;
}
.login-wrapper .modal .modal-dialog{
	width: 450px;
}
.login-wrapper .modal .modal-dialog .modal-body{
	padding-top: 30px;
}
.clear:after{
	content:'';
	display:block;
	clear:both;
}
.center{
	text-align:center;
}
.manager-nav{
	margin-bottom: 0;
	background-color: #fff;
	border-bottom: 5px solid #f9f9f9;
}
.manager-nav .navbar-nav>li>a:hover,.manager-nav .navbar-nav>.active>a,.manager-nav .navbar-nav>.active>a:hover{
	color: #463265;
	background-color: #f9f9f9;
}
.manager-nav .navbar-brand,.manager-nav .navbar-nav>li>a{
	font-weight:500;
	color:#563d7c;
}
.manager-container{
	padding-top:20px;
}
.manager-content{
	padding-top:20px;
}
.input-group .progress{
	height: 34px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 1px solid #ccc;
	margin-bottom:0px;
}
.input-group .progress .progress-bar{
	line-height: 32px;
	font-size: 14px;
}
.transparent{
	opacity:0;
}
.hiddenfile{
	width:100%;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
	cursor:pointer;
	z-index:99999;
}
.works-image-form-list #thumbnail-add-btn .thumbnail{
	height:263px;
	line-height:263px;
}
.works-image-form-list .thumbnail{
	height:263px;
}
.works-image-form-list .thumbnail .caption{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: -4px;
	margin-right: -4px;
}
.works-image-form-list .thumbnail img{
	height:253px;
}
.works-image-form{
	margin-bottom: 15px;
}